.wrapper {
  max-width: 1920px;
  width: 100%;
}

.main {
  flex-grow: 1;
}

.image {
  width: 30px;
}



.aside {
  width: 240px;
  color: gray;
  height: 100vh;
  position: relative;


  &_dropdown {
    position: absolute;
    top: 0;
    right: -259px;
    width: 260px;
    height: 533px;
    background-color: white;
    box-shadow: 0 0 6px 1px rgba(0,0,0,.2);
    border-radius: 0 10px 10px 0;
    z-index: 1000;
  }
}

.disable {
  display: none;
}

.list {
  padding: 5px 15px;
  z-index: 5;

  &_link {
    display: block;
    text-align: center;
  }

  li {
    margin: 15px 0;
    position: relative;

    svg {
    position: absolute;
      width: 15px;
      top: 2px;
      right: -5px;
    }
  }

}

.aside_content {
  box-shadow: 0 0 6px 1px rgba(0,0,0,.2);
  border-radius: 6px;
  z-index: 5;
  margin-bottom: 25px;
}



.aside_sublist {
  padding: 15px 0;
  font-size: 15px;
  border-top: 1px solid #E5E5E5;
  margin: -5px 16px 10px;

  li {
    margin-bottom: 10px;
  }
}

.content-wrapper {
  padding: 20px 10px 0 10px;
  width: 100%;
  flex-grow: 1;

}

.title {
  display: flex;
  gap: 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  color: gray;
  font-size: 20px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid orange;
}

.content {
  display: flex;
  flex-direction: column;

  &-swiper {
    height: 250px;
    margin-bottom: 30px;
  }

  &-important {
    height: auto;
    margin-bottom: 5px;
  }
}

.itemfind {
  font-size: 26px;
  color: gray;
  opacity: 1;
  font-weight: 700;
  margin-bottom: 30px;
  small {
    font-weight: 400;
    font-size: 14px;
  }
}

.social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  font-size: 16px;

  &_facebook {
    color: white;
    position: relative;
    padding: 16px 20px 16px 50px;
    background: #4e71a8;

    &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 24px;
      top: 50%;
      left: 26px;
      margin-top: -12px;
      background: url('https://www.amiami.com/images/common/icon_facebook.png') no-repeat 0/11px auto;
    }
  }

  &_twitter {
    color: white;
    position: relative;
    padding: 16px 20px 16px 50px;
    background: #55acee;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 24px;
      top: 50%;
      left: 26px;
      margin-top: -12px;
      background: url('https://www.amiami.com/images/common/icon_twitter.png') no-repeat 0/11px auto;
    }
  }

  &_twitter_korean {
    color: white;
    position: relative;
    padding: 8px 20px 8px 50px;
    background: #55acee;

    &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 24px;
      top: 50%;
      left: 26px;
      margin-top: -12px;
      background: url('https://www.amiami.com/images/common/icon_twitter.png') no-repeat 0/11px auto;
    }
  }

  &_china {
    color: #e92b2a;
    position: relative;
    padding: 19px 20px 19px 50px;
    border: 1px solid red;
    background: white;

    &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 24px;
      top: 50%;
      left: 26px;
      margin-top: -12px;
      background: url('https://www.amiami.com/images/common/icon_sns_weibo.png') no-repeat 0/11px auto;
    }
  }

  &_instagram {
    color: #fd0001;
    position: relative;
    padding: 19px 20px 19px 50px;
    border: 1px solid red;
    background: white;

    &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 24px;
      top: 50%;
      left: 26px;
      margin-top: -12px;
      background: url('https://www.amiami.com/images/common/icon_sns_instagram.png') no-repeat 0/11px auto;
    }
  }
}


@media (max-width: 1920px) {
  .wrapper {
    max-width: 1330px;
  }

}
