.header {
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0) url('https://img.amiami.com/images/sitecontents/header/pc_header_e.png') no-repeat scroll left 30px top 0;
}

.wrapper {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}

.search {
  display: flex;
  padding-right: 74px;
  width: 82%;
  flex: 1;
  justify-content: flex-end;
}


.nav {
  margin-bottom: 12px;
  color: gray;
  padding: 0 40px;

  a {
    position: relative;
  }

  a:not(:last-child) {
    margin-right: 35px;
  }
}

